.info {
  &__title {
    color: $text_color;
    font-weight: 500;
    font-size: 28px;
    @media (min-width: $lg) {
      font-size: 32px;
    }
  }
  &__text {
    color: $text-color;
    font-weight: 400;
    font-size: 19px;
    @media (min-width: $lg) {
      font-size: 22px;
    }
  }
}
