$white: #ffffff;

//UI Colors
//Primary - Steel blue
$steelBlue650: #18455a;
$steelBlue600: #1d526a;
$steelBlue500: #287492;
$steelBlue400: #619aae;
$steelBlue300: #9cbfcb;
$steelBlue200: #d8e0e5;
$steelBlue150: #e7ecef;
$steelBlue100: #f6f8f9;

//Accent - Orange
$orange650: #92552a;
$orange600: #a35f2f;
$orange500: #d87b38;
$orange400: #fd9549;
$orange300: #fcbc87;
$orange250: #fccca4;
$orange200: #fde2cb;

//Brand – Turquoise
$turquoise600: #105049;
$turquoise500: #1f9f91;
$turquoise400: #2cdac7;
$turquoise300: #97eee5;

//Brand – Gold
$gold500: #a38137;
$gold400: #fecb58;
$gold300: #fee1a1;
$gold200: #fef5de;

//Brand – Tomato
$tomato500: #9d3723;
$tomato400: #fc593b;
$tomato300: #fd856c;
$tomato200: #ffc2b5;

//Functional Colors
//Blue – Links
$blue550: #005281;
$blue500: #016198;
$blue400: #027abe;
$blue200: #98c9e5;

//Green – Success
$green500: #198731;
$green400: #20a93e;

//Yellow – Warning
$yellow600: #72571c;
$yellow300: #fbda93;

//Red – Destructive/Critical
$red550: #882210;
$red500: #a62a13;
$red400: #ca351a;
$red200: #f5beb4;

//Purple – Highlight
$purple500: #4a2892;
