.basics {
  padding-top: 59px;
  padding-bottom: 40px;

  @media (min-width: $md) {
    padding-bottom: 135px;
    padding-top: 135px;
  }

  @media (min-width: $lg) {
    padding-top: 90px;
    padding-bottom: 122px;
  }

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: space-between;

    @media (min-width: $md) {
      flex-direction: row-reverse;
      align-items: center;
      text-align: left;
    }
  }

  .block_text {
    h2 {
      color: $text_color_orange;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;

      @media (min-width: $md) {
        font-size: 29px;
      }

      @media (min-width: $lg) {
        font-size: 32px;
      }
    }

    p {
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;
      color: $text_color;

      @media (min-width: $md) {
        font-size: 20px;
      }

      @media (min-width: $lg) {
        font-size: 22px;
      }
    }

    @media (min-width: $md) {
      max-width: 359px;
      margin-left: 37px;
    }

    @media (min-width: $lg) {
      margin-left: 0;
    }
  }

  .section_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 346px;
    width: 100%;
    height: 47px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    background: #287492;
    border: none;
    border-radius: 7px;
    text-align: center;
    margin: auto;

    @media (min-width: $md) {
      max-width: 199px;
      margin: initial;
    }
  }
}
