.tools {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  &__topic {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: $orange500;
    margin-bottom: 16px;
  }
  &__card {
    margin-right: 24px;
  }
  &__item {
    //min-width: 263px;
    //width: 100%;
    &:last-child {
      margin-right: 0;
    }
    @media (min-width: $sm) {
      //width: 360px;
    }
  }
}
