.statistic {
  background: url('../../../public/statistic_bg.png') center no-repeat;
  background-size: cover;
  padding-bottom: 56px;

  h2 {
    text-align: center;
    color: $text_color_orange;
  }
}

.circle_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgba(156, 191, 203, 0.5);
  border-radius: 73px;
  max-width: 636px;
  width: 100%;
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  -ms-border-radius: 73px;
  -o-border-radius: 73px;
  margin: auto;
  background: #ffffff;

  @media (min-width: $md) {
    max-width: 701px;
    border-radius: 249px;
    -webkit-border-radius: 249px;
    -moz-border-radius: 249px;
    -ms-border-radius: 249px;
    -o-border-radius: 249px;
  }

  @media (min-width: $lg) {
    max-width: 984px;
  }
}

.items {
  max-width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $lg) {
    min-height: 424px;
    display: flex;
    flex-direction: row;
  }
}

.statistic_left {
  @include flexBase;
  flex-direction: column;
  max-width: 363px;
  width: 100%;
  padding-top: 20px;

  @media (min-width: $lg) {
    padding-top: 0;
  }
}

.statistic_right {
  @include flexBase;
  flex-direction: column;
  max-width: 363px;
  width: 100%;

  @media (min-width: $lg) {
    margin-top: -45px;
  }
}

.left_header {
  @include flexBase;
  flex-direction: column;

  span {
    font-weight: 500;
    font-size: 48px;
    line-height: 140%;
    color: $text_color;
    margin-bottom: 12px;
  }

  @media (min-width: $lg) {
    flex-direction: row;

    span {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}

.right_header {
  @include flexBase;
  margin-top: 22px;

  span {
    font-weight: 500;
    font-size: 54px;
    line-height: 140%;
    color: $text_color;
    margin-right: 20px;
  }
}

.devider {
  width: 99%;
  height: 1px;
  background: rgba(156, 191, 203, 0.5);
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);

  @media (min-width: $lg) {
    width: 1px;
    height: 179px;
    margin: auto;
    margin-right: 32px;
    margin-left: 32px;
  }
}

.description {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: $text_color;
  margin-top: 16px;
}

.label {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $text_color;
}

.mission {
  background: #287492;
  padding-top: 106px;
  padding-bottom: 102px;
  padding-left: 16px;
  padding-right: 16px;

  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #97eee5;
  }

  @media (min-width: $lg) {
    padding-left: 380px;
    padding-right: 380px;
  }
}

.mission_description {
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $md) {
    font-size: 29px;
  }

  @media (min-width: $lg) {
    font-size: 32px;
  }
}

.caregiving_easier {
  background: rgba(246, 248, 249, 0.6);
  padding-top: 104px;
  padding-bottom: 19px;

  @media (min-width: $md) {
    padding-bottom: 105px;
  }

  @media (min-width: $lg) {
    padding-bottom: 45px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: space-between;

  @media (min-width: $md) {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
}

.block_text {
  h2 {
    color: $text_color_orange;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;

    @media (min-width: $md) {
      font-size: 29px;
    }

    @media (min-width: $lg) {
      font-size: 32px;
    }
  }

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $text_color;

    @media (min-width: $md) {
      font-size: 20px;
    }

    @media (min-width: $lg) {
      font-size: 22px;
    }
  }

  @media (min-width: $md) {
    max-width: 359px;
  }
}

.section_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 346px;
  width: 100%;
  height: 47px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #287492;
  border: none;
  border-radius: 7px;
  text-align: center;
  margin: auto;

  @media (min-width: $md) {
    max-width: 199px;
    margin: initial;
  }
}

.basics {
  margin-top: 59px;
  padding-bottom: 40px;

  @media (min-width: $md) {
    margin-top: 136px;
    padding-bottom: 133px;
  }

  @media (min-width: $lg) {
    margin-top: 90px;
    padding-bottom: 122px;
  }

  .wrapper {
    @media (min-width: $md) {
      flex-direction: row-reverse;
    }
  }
}

.block_image {
  max-width: 490px;
  width: 100%;
  margin: auto;

  @media (min-width: $md) {
    margin: initial;
  }

  img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.caregiver_wellness {
  padding-top: 40px;
  padding-bottom: 41px;
  background: rgba(246, 248, 249, 0.6);

  @media (min-width: $md) {
    padding-top: 118px;
    padding-bottom: 119px;
  }

  @media (min-width: $lg) {
    padding-top: 106px;
    padding-bottom: 106px;
  }
}

.chronic_diseases {
  padding-top: 40px;
  padding-bottom: 40px;

  .wrapper {
    @media (min-width: $md) {
      flex-direction: row-reverse;
    }
  }

  @media (min-width: $md) {
    padding-top: 136px;
    padding-bottom: 136px;
  }

  @media (min-width: $lg) {
    padding-top: 106px;
    padding-bottom: 106px;
  }
}

.bottom_section {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 79px;
  background: url('../../../public/bottom_bg.png') center no-repeat;
  background-size: cover;
  background-color: rgba(253, 226, 203, 0.15);
  margin-bottom: 40px;

  @media (min-width: $md) {
    padding-top: 106px;
    padding-bottom: 106px;
  }

  @media (min-width: $lg) {
    padding-top: 123px;
    padding-bottom: 123px;
  }

  p {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: $text_color;

    @media (min-width: $md) {
      max-width: 523px;
      margin: auto;
      margin-bottom: 32px;
    }

    @media (min-width: $lg) {
      max-width: 764px;
      margin-top: 20px;
    }
  }

  a {
    margin: auto;
  }
}
