.info {
  &__title {
    color: $text_color;
    font-weight: 500;
    font-size: 28px;
    margin: 0;
    @media (min-width: $lg) {
      font-size: 32px;
    }
  }
  &__text {
    color: $text-color;
    font-weight: 400;
    font-size: 18px;
    @media (min-width: $lg) {
      font-size: 22px;
    }
  }
  a {
    color: $blue400;
    text-decoration: underline;
  }
  b {
    font-weight: 600;
  }
}
