.bottom_section {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 79px;
  background-size: cover;
  background: rgba(253, 226, 203, 0.15) url('../../../../public/bottom_bg.png')
    no-repeat center;
  margin-bottom: 40px;

  @media (min-width: $md) {
    padding-top: 106px;
    padding-bottom: 106px;
  }

  @media (min-width: $lg) {
    padding-top: 123px;
    padding-bottom: 123px;
  }

  p {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    color: $text_color;

    @media (min-width: $md) {
      max-width: 523px;
      margin: auto;
      margin-bottom: 32px;
    }

    @media (min-width: $lg) {
      max-width: 764px;
      margin-top: 20px;
    }
  }

  a {
    margin: auto;
  }
}
