.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 264px;
  height: 283px;
  //width: 100%;
  border-radius: 7px;
  background: linear-gradient(
    0deg,
    rgba(29, 86, 106, 0.1),
    rgba(29, 86, 106, 0.1)
  );
  box-shadow: 0 1px 2px 1px rgba(7, 29, 37, 0.08);
  margin: 0 10px;
  transition: transform 0.3s ease-in 0s;
  &:hover {
    transform: scale(1.01);
    box-shadow: rgb(7 29 37 / 15%) 0 2px 5px 2px;
  }
  @media (min-width: $md) {
    width: 264px;
  }
  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: $text-color;
  }
  &__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $blue-1;
  }
  &__header {
    position: relative;
  }
  &__contentType {
    position: absolute;
    bottom: 12px;
    right: 20px;
  }
  &__footer {
    height: 115px;
    background: $steel_blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 20px 20px 20px;
    border-radius: 0 0 7px 7px;
  }
}
