.articles {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

  @media (min-width: $xxl) {
    padding: 64px 32px 64px 157px;
  }
  &:hover {
    background: linear-gradient(
        0.06deg,
        rgba(226, 236, 240, 0.3) 0.05%,
        rgba(226, 236, 240, 0.2) 99.95%
      ),
      #ffffff;
  }
  &__wrapper {
    max-width: 325px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__topic {
    font-weight: 500;
    font-size: 26px;
    color: $text_color_orange;
    margin-bottom: 10px;
  }
  &__description {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: $text_color;
    margin-bottom: 12px;
  }
  &__content {
  }
  &__button {
    cursor: pointer;
    width: 160px;
    height: 38px;
    margin-bottom: 8px;
  }
}
