.accordion_title {
  display: none;
}

.accordion_title_mobile {
  font-size: 18px;
  color: #1d526a;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.accordion_button {
  background-color: #f6f8f9;
  color: #1d526a;
  cursor: pointer;
  padding-left: 16px;
  padding-top: 19px;
  padding-bottom: 19px;
  background-image: url(../../../public/svg/accardion_button_image.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: 95%;
  border-radius: 12px;
  margin-bottom: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

.national_information {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 4px;
  background-color: #f6f8f9;
  border-radius: 12px;
}
