.accordion_wrapper {
  display: block;
  width: 100%;
  margin-bottom: 96px;
  //1024
  @media (min-width: 1103px) {
    display: flex;
    flex-flow: row nowrap;
  }
  //1400
  @media (min-width: $xxl) {
    margin-bottom: 64px;
  }
}

.accordion_right {
  margin-left: 12px;
  margin-right: 12px;
  @media (min-width: 1103px) {
    width: 50%;
    margin-right: 156px;
  }
}

.accordion_left {
  margin-right: 12px;
  margin-left: 12px;
  @media (min-width: 1103px) {
    width: 50%;
    margin-left: 156px;
  }
}

.accordion__item {
  width: 100%;
  @media (min-width: 1103px) {
    max-width: 552px;
  }
}

.accordion_button_item {
  margin-right: 16px;
}

[aria-expanded='true'] .accordion_button_item {
  transform: rotate(180deg);
}

.accordion_content {
  display: block;
  //1024
  @media (min-width: $xl) {
    display: flex;
  }
  //1440
  @media (min-width: $xxl) {
    margin-bottom: 68px;
  }
}

.accordion_left_content {
  flex: 1;
  //1440
  @media (min-width: $xxl) {
    margin-left: 157px;
  }
}

.accordion_right_content {
  flex: 1;
  //1440
  @media (min-width: $xxl) {
    margin-right: 157px;
  }
}

.accordion_title {
  display: none;
  //1024
  @media (min-width: $xl) {
    display: block;
    padding-top: 32px;
    padding-left: 100px;
    padding-bottom: 32px;
    color: #1d526a;
    font-size: 18px;
  }
  //1400
  @media (min-width: $xxl) {
    padding-left: 157px;
    padding-right: 415px;
  }
}

.accordion_title_mobile {
  font-size: 18px;
  color: #1d526a;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 600;
  //1024
  @media (min-width: $xl) {
    display: none;
  }
}

.accordion_button {
  display: flex;
  justify-content: space-between;
  background-color: #f6f8f9;
  color: #1d526a;
  cursor: pointer;
  padding-left: 16px;
  padding-top: 19px;
  padding-bottom: 19px;
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: 95%;
  border-radius: 12px;
  margin-bottom: 10px;
  @media (min-width: 1103px) {
    width: 100%;
  }
}

.information {
  margin-bottom: 4px;
  background-color: #f6f8f9;
  border-radius: 12px;
}

.category_information_title {
  color: #1d526a;
  font-size: 18px;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 44px;
  padding-bottom: 24px;
}

.information_content_item {
  display: flex;
  padding-left: 16px;
  padding-bottom: 12px;
  font-size: 18px;
  color: #027abe;
  text-decoration: underline;
  transform: translate3d(0px, 0px, 0px);
  cursor: pointer;
}

.information_content_item::after {
  content: url(../../../public/svg/accordion_item.svg);
  padding-left: 8px;
}

.resources_wrapper {
  background: linear-gradient(
      93.78deg,
      rgba(156, 191, 203, 0.1) 0%,
      rgba(39, 118, 148, 0.2) 100%
    ),
    #f6f8f9;
}

.resources_title {
  padding-top: 54px;
  padding-bottom: 32px;
  padding-left: 16px;
  font-size: 36px;
  color: #a35f2f;
  //1200
  @media (min-width: $xl) {
    padding-left: 100px;
  }
  //1400
  @media (min-width: $xxl) {
    padding-top: 72px;
    padding-bottom: 16px;
    padding-left: 156px;
    font-size: 48px;
  }
}

.resources_title_text_mobile {
  padding-left: 16px;
  padding-bottom: 130px;
  font-size: 24px;
  color: #1d526a;
  //576
  @media (min-width: $sm) {
    display: none;
  }
}

.resources_title_text {
  display: none;
  //576
  @media (min-width: $sm) {
    display: block;
    padding-left: 16px;
    padding-bottom: 130px;
    font-size: 24px;
    color: #1d526a;
  }
  //1024
  @media (min-width: $xl) {
    padding-left: 100px;
  }
  //1400
  @media (min-width: $xxl) {
    padding-left: 156px;
    padding-bottom: 160px;
    font-size: 28px;
  }
}

.resources_logo {
  background-image: url(../../../public/assets/images/resources_image.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  //992
  @media (min-width: $lg) {
    background-image: url(../../../public/assets/images/resources_image_tablet.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
}
