.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion_button {
  background-color: #f6f8f9;
  color: #1d526a;
  cursor: pointer;
  padding-left: 16px;
  padding-top: 19px;
  padding-bottom: 19px;
  background-image: url(../../../public/svg/accardion_button_image.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.accordion__button:hover {
  background-color: #ddd;
}

.accordion__button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg);
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}
