.section {
  background: rgba(246, 248, 249, 0.6);
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $md) {
    padding-top: 104px;
    padding-bottom: 105px;
  }

  @media (min-width: $lg) {
    padding-top: 106px;
    padding-bottom: 106px;
  }

  &_white {
    background: white;
  }
}

.section:nth-child(2n) {
  @media (min-width: $md) {
    .block_text {
      margin-right: 0;
      margin-left: 37px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  justify-content: space-between;

  @media (min-width: $md) {
    flex-direction: row;
    align-items: center;
    text-align: left;

    &_reverse {
      flex-direction: row-reverse;
    }
  }
}

.block_text {
  h2 {
    color: $text_color_orange;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;

    @media (min-width: $md) {
      font-size: 29px;
    }

    @media (min-width: $lg) {
      font-size: 32px;
    }
  }

  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: $text_color;

    @media (min-width: $md) {
      font-size: 20px;
    }

    @media (min-width: $lg) {
      font-size: 22px;
    }
  }

  @media (min-width: $md) {
    max-width: 359px;
    margin-right: 37px;
  }

  @media (min-width: $lg) {
    margin-right: 0;
  }
}

.section_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 346px;
  width: 100%;
  height: 47px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  background: #287492;
  border: none;
  border-radius: 7px;
  text-align: center;
  margin: auto;

  @media (min-width: $md) {
    margin: initial;
  }
}
